body{
   
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(213, 231, 247);
   
}
#calc{
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding:20px;
    font-size: 3.5rem;
    text-align: left;
    border: none;
    background-color: rgb(56, 55, 55);

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding: 25px;
    
}



button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color: rgb(24, 24, 24);
    color: aquamarine;
    font-size: 3.5rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
    color:black;
}